<h1>FLIPKART</h1>

<button (click)="add20()">add 20 delivery charges</button>
<button (click)="discount()">50%discount</button>
<br><br>

<button (click)="pricelh()">Price Low to High</button>
<button (click)="pricehl()"> Price High to Low</button>
<br><br>
<button (click)="totalprice()">Total Cart price</button>
<br><br>
<select [(ngModel)]="category" (change)="categorychange()"> 
    <option>gadgets</option>
    <option>fashion</option>
    <option>footware</option>
    <option>accessories</option>
    <br><br>
</select>

<input type="text" placeholder="search" [(ngModel)]="term" (keyup)="search()">

<p>Total cart Items:<mark>{{products.length}}</mark></p> 
<table>
    <thead >
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
        </tr>
    </tbody>
</table>
