<h1>Vehicle </h1>
<input type="text" [(ngModel)]="term" (keyup)="search()" placeholder="search">
<label for="">column</label>
<select [(ngModel)]="column">
    <option>color</option>
    <option>model</option>
    <option>fuel</option>
</select>

<label for="">Order</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">Sort</button>
<label for="">Page</label>
<select [(ngModel)]="page" (change)="pagination()">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<table border="3">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <th>Cost</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles ">
            <td>{{vehicle.vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="" width="100px">
            </td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <button (click)="delete(vehicle.id)">delete</button>
        
        </tr>
    </tbody>
</table>