<div class="parent">
    <div class="child1">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="welcome">Welcome</h2>
        <h2 routerLink="databinding">Databinding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="rectangle">Rectangle</h2>
        <h2 routerLink="circle">Circle</h2>
        <h2 routerLink="bmi">BMI</h2>
        <h2 routerLink="dice">Dice</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="task">Tasks</h2>
        <h2 routerLink="website1">Website</h2>
        <h2 routerLink="higher-order">Higher-Order</h2>
        <h2 routerLink="amazon">Amazon</h2>
        <h2 routerLink="vehicle">Vehicle</h2>
        <h2 routerLink="bank-accounts">Bank Accounts</h2>
        <h2 routerLink="flipkart1">Flipkart1</h2>
        <h2 routerLink="mail">Mail</h2>
        <h2 routerLink="createvehicle">Create-Vehicle</h2>
        <h2 routerLink="createbankaccounts">Create-Bank Accounts</h2>
        <h2 routerLink="students">Students</h2>
        <hr>
        <button (click)="logout()">logout</button>
    </div>
    <div class="child2">
        <router-outlet></router-outlet>
    </div>

</div>